<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello World!</title>
    <link rel="stylesheet" href="../css/index.css" />
    <!-- <meta http-equiv="Content-Security-Policy" content="script-src 'self';"> -->
  </head>
  <body>
    <p id="display-version"></p>
    <p>Response:</p>
    <p id="display-response"></p>
    <button onclick="makeRequest()">Request</button>
    <button onclick="requestError()">Error</button>
    <button onclick="changeView('index2')">Change View</button>

    <script src="../js/index.js"></script>
  </body>
</html>
